* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("himalaya.jpg") #000;
  background-size: cover;
  color: #fff;
  font-size: 16px;
}

.wrap {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

.wrap
.widget {
  width: 302px;
  margin: 0 auto;
  /*margin: 32px;*/
}

.wrap
.widget
p {
  display: inline-block;
  line-height: 1em;
}

.wrap
.widget
.fecha {
  font-family: Oswald,Arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  /*margin-bottom: 5px;*/
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

.wrap
.widget
.reloj {
  font-family: Oswald,Arial;
  width: 100%;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.wrap
.widget
.reloj
.caja-segundos {
  display: inline-block;
}

.wrap
.widget
.reloj
.caja-segundos .ampm, .wrap
.widget
.reloj
.caja-segundos
.segundos {
  font-size: 2rem;
  display: block;
}
