* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../img/imagen4.jpg") #000;
  background-position: center top;
  color: #fff;
  font-size: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 1000px;
  /*margin: auto;*/
}

.wrap
.widget {
  width: 302px;
  margin: 0 auto;
  /*margin: 32px;*/
}

.wrap
.widget
p {
  display: inline-block;
  line-height: 1em;
}

.wrap
.widget
.fecha {
  font-family: Oswald,Arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  /*margin-bottom: 5px;*/
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

.wrap
.widget
.reloj {
  font-family: Oswald,Arial;
  width: 100%;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.wrap
.widget
.reloj
.caja-segundos {
  display: inline-block;
}

.wrap
.widget
.reloj
.caja-segundos .ampm, .wrap
.widget
.reloj
.caja-segundos
.segundos {
  font-size: 2rem;
  display: block;
}

.cerrar {
  font-size: 18px;
  position: absolute;
  top: -3px;
  right: 121px;
  background-color: black;
  padding: 12px;
}

.cerrar:hover {
  cursor: pointer;
  color: #fff;
  background-color: red;
}

.titulo_galeria {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  width: 119px;
  z-index: 100;
  right: 0px;
}

.titulo_galeria:hover {
  cursor: pointer;
  color: #fff;
  background-color: red;
}

.galeria_miniaturas {
  display: none;
  position: absolute;
  top: 41px;
  right: 0;
  overflow-y: scroll;
  height: 92%;
  border: 1px solid #eaeaea;
}

.galeria_miniaturas
img {
  width: 80px;
  height: 60px;
  display: block;
  margin: 10px;
  cursor: pointer;
}

.galeria_miniaturas
img:hover {
  width: 85px;
  -webkit-transition: all 0.3s ease;
  -O-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
