@font-face {
    font-family: 'esandex';
    src:url('../fonts/icomoon.eot?74ceot');
    src:url('../fonts/icomoon.eot?74ceot#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?74ceot') format('truetype'),
        url('../fonts/icomoon.woff?74ceot') format('woff'),
        url('../fonts/icomoon.svg?74ceot#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'esandex' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body
{
	font-family: arial,helvetica, sans-serif;
	font-size: 16px;	
}


.contenedor{
		display: flex;
  		align-items: center;
		justify-content: center;
  		min-height: 100vh;

		.icono
		{
			background-color:#f44336;
			height: 50px;
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		

  	form{

  			max-width: 500px;

  			h1
			{
				text-align: center;
				position:relative;
				color:red;
				top: 0px;
			}

			.grupo{

				margin: 15px 0px;

				label{
					font-size: 13px;
				}

				

		  		input[type=text],input[type=password]
		  		{	
			  		width: 100%;
					height: 40px;
					padding: 5px;
					box-sizing: border-box;
					border-width: 1px;
					border-style: solid;
					border-color: #E9E9E9 #E9E9E9 #727272;
				}
			}
			.button
			{
				background-color: #f44336;
				border: 0px none;
				box-shadow: 0px 5px 0px #e12121;
				box-sizing: border-box;
				color: #E9E9E9;
				margin: 1em 0px;
				padding: 10px;
				transition: all 0.3s ease 0s;
				width: 250px;
				font-size: 1em;
				width: 100%;
				&:hover{
					background-color:#c0392b;
					box-shadow: -1px 5px 0px #b12121;
				}
			}
  	}
}

.wrap 
{
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal
{
	background:#f44336;
	border-top:20px solid #d32f2f;
	color: #fff;
	padding: 50px 0;
	width: 100%; 

	
	.title
	{
		text-align: center;
		margin: 5px;
	}

	

	.formulario
	{
		color: #212121;
		text-align: center;

		input[type=text]
		{
			margin-bottom:20px;
			padding: 10px;
			width: 100%; 
		}
		input[type=text].error
		{
			border:5px solid #d32f2f;
			color: #ff0000;
		}
		.boton
		{
			background:none;
			border: 1px solid #d32f2f;
			color: #fff;
			display: inline-block;
			font-size: 16px;
			padding: 15px;
			&:hover
			{
				border: 1px solid #fff;
			}
		}
	}
}


.cerrar-sesion{
		    color: #FFF;
		    display: inline-block;
		    background-color: #16A085;
		    text-decoration: none;
		    width: 133px;
		    padding: 12px;
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    border-radius: 5px;
		    font-size: 14px;
		    line-height: 28px;

			&:hover{
				background-color:#e67e22;
			}


		.icon-switch
		{
			font-family: 'esandex';	
  		    color: #fff;
  		    float: right;
  		    font-size: 23px;
  		    position: absolute;
		    right: 6px;
		    top: 14px;

	  		&:before 
	  		{
	        	content: "\e900";
	    	}
	    }
	}


.tareas
{
	.lista
	{
		list-style: none;

		li 
		{
			border-bottom: 1px solid #b6b6b6;

			a 
			{
				color: #212121;
				display: block;
				padding: 20px 0;
				text-decoration: none;
				&:hover
				{
					text-decoration: line-through;
				}
			}
		}
	}
}