* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: arial,helvetica, sans-serif;
  font-size: 16px; }

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }
  .contenedor .icono {
    background-color: #f44336;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  .contenedor form {
    max-width: 500px; }
    .contenedor form h1 {
      text-align: center;
      position: relative;
      color: red;
      top: 0px; }
    .contenedor form .grupo {
      margin: 15px 0px; }
      .contenedor form .grupo label {
        font-size: 13px; }
      .contenedor form .grupo input[type=text], .contenedor form .grupo input[type=password] {
        width: 100%;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: #E9E9E9 #E9E9E9 #727272; }
    .contenedor form .button {
      background-color: #f44336;
      border: 0px none;
      box-shadow: 0px 5px 0px #e12121;
      box-sizing: border-box;
      color: #E9E9E9;
      margin: 1em 0px;
      padding: 10px;
      transition: all 0.3s ease 0s;
      width: 250px;
      font-size: 1em;
      width: 100%; }
      .contenedor form .button:hover {
        background-color: #c0392b;
        box-shadow: -1px 5px 0px #b12121; }

.wrap {
  margin: auto;
  max-width: 800px;
  width: 90%; }

.principal {
  background: #f44336;
  border-top: 20px solid #d32f2f;
  color: #fff;
  padding: 50px 0;
  width: 100%; }
  .principal .cerrar-sesion {
    color: #FFF;
    display: inline-block;
    background-color: #16A085;
    text-decoration: none;
    width: 138px;
    padding: 12px;
    position: relative;
    left: 20px;
    top: -48px; }
    .principal .cerrar-sesion:hover {
      background-color: #e67e22; }
  .principal .title {
    text-align: center;
    margin: 5px; }
  .principal .formulario {
    color: #212121;
    text-align: center; }
    .principal .formulario input[type=text] {
      margin-bottom: 20px;
      padding: 10px;
      width: 100%; }
    .principal .formulario input[type=text].error {
      border: 5px solid #d32f2f;
      color: #ff0000; }
    .principal .formulario .boton {
      background: none;
      border: 1px solid #d32f2f;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      padding: 15px; }
      .principal .formulario .boton:hover {
        border: 1px solid #fff; }

.tareas .lista {
  list-style: none; }
  .tareas .lista li {
    border-bottom: 1px solid #b6b6b6; }
    .tareas .lista li a {
      color: #212121;
      display: block;
      padding: 20px 0;
      text-decoration: none; }
      .tareas .lista li a:hover {
        text-decoration: line-through; }
